@import url(https://fonts.googleapis.com/css?family=Bodoni+Moda);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

html {
	overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 1.75;
    background-color: #fbfafa;
    padding-top: 40px;
    padding-bottom: 0px;
}

h1,h2,h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	color: #000;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000;
}

p {
	font-family: 'Bodoni Moda', serif;
	font-weight:300;
}

section {
	padding-top: 30px;
	padding-bottom: 0px;
}


img {
	margin-left:auto

}

.img1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.img2 {
	position: relative;
	display: block;
	margin-left: auto;
	bottom: 37px;
	opacity: 0.37;
}

.img2:hover {
	opacity: 0.67;
}

a,a:link {
	color: #353e45;
}

a:hover,a:focus {
	color: #5e7a94;
}

.big-letter p:first-child:first-letter { 
	font-size: 577%;
	float: left; 
	color: #000; 
	line-height: 80%;
	margin-top: 2px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

footer {
	padding-bottom: 0px;
}

footer p {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 70%;
}